/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Useful for debugging layout issues */
  /* border: .5px solid rgba(255, 0, 0, 0.3); */
}

/* Typography */
h1 {
    text-align: center;
    font-size: 1rem;
}   

body {
    background-color: #f9a0a3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Layout Containers */
main {
    margin-inline: auto; /* Modern way to center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 95vw;
    min-width: 562px;
    max-width: 1200px;
    height: 80vh;
    max-height: 700px;
}

.all-container {
    width: 100%;
    height: 100%;
}

.border-container {
    border: 1px solid blue;
}


.content-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Navigation Styles */

.top-nav-container {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

.title {
    background-image: url("daisy-game/images/UI/title.svg");
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-bottom: 3px;
    width: 100%;
    height: auto;
}

.top-nav-right {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end
}   

.btm-right-curved-cnr {
    width: 30px;
    height: 30px;
    background-image: url("daisy-game/images/UI/btm-right-curved-cnr.svg");
}

.clothes-nav {
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 0 25px;
    justify-content: flex-end;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    height: 100%;
    max-height: 100px;
}



.clothes-btn {
    width: 50px;
    height: 50px;
    margin: 5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    border-radius: 20px;
    border: 3pt solid white;
    background-repeat: no-repeat;
}


.clothes-btn:active {
    
}



#tops-btn.active, #bottoms-btn.active, #full-body-btn.active, #shoes-btn.active, #accessories-btn.active {

    border: 3pt solid #e9ddd0;
}

#tops-btn {
    background-image: url("daisy-game/images/UI/tops-icon.png");
    background-color: #c4cd75;
}

#bottoms-btn {
    background-image: url("daisy-game/images/UI/bottoms-icon.png");
    background-color: #d06969;
    background-size: 90%;
    background-position-y: 45%;
}

#full-body-btn {
    background-image: url("daisy-game/images/UI/full-body-icon.png");
    background-color: #d0d8df;
}

#shoes-btn {
    background-image: url("daisy-game/images/UI/shoes-icon.png");
    background-color: #d1b5b2;
    background-position-x: 100%
}

#accessories-btn {
    background-image: url("daisy-game/images/UI/acc-icon.png");
    background-color: #ffcd6b;
    background-size: 90%;
}


.left-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 20px;
    margin-left: 10px;
    border-right: none;
}

/* Vertical Button Styles */


.background-btn:last-of-type, .album-btn:last-of-type {
    border-bottom: 2px solid white;
} 

.portrait-btn {
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: none;
    border-left: none;
    position: relative;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px;
    margin: 5px 0;
}

#background-btn {
    background-image: url("daisy-game/images/UI/background-icon.png");
    background-repeat: no-repeat;
    background-color: #d0d8df;
    background-size: 100%;
}

#album-btn {
    background-image: url("daisy-game/images/UI/album-icon.png");
    background-repeat: no-repeat;
    background-color: #d0d8df;
    background-size: 90%;
}

/* Main Content Area */

.daisy-container {
    position: relative;
    overflow: hidden;
    align-content: center;
    flex: 2;
    width: 100%;
    height: 100%;
    max-width: 450px;
    min-width: 200px;
    border-radius: 30px;
}

 .daisy-container, .thumb-grid-container {
    border: 10px solid white;
}

/* Character and Clothing Images */
.daisy-img {
    z-index: 50;
}

#bodysuit-img {
    z-index: 70;
}

.daisy-img, 
.clothes-img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Action Buttons */
.capture-btn,
.reset-btn {
    position: absolute;
    min-width: 45px;
    min-height: 45px;
    padding: 18px;
    border-radius: 15px;
    z-index: 1000;
    bottom: 10px;
    border: 2px solid #fef4e9;
}

.capture-btn {
    left: 10px;
    cursor: pointer;
    background-image: url("daisy-game/images/UI/camera-icon.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    background-color: #d0d8df;
}

.reset-btn {
    right: 10px;
    max-width: 70px;
    cursor: pointer;
    background-image: url("daisy-game/images/UI/reset-icon.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #d0d8df;
}


/* Preview Section */
.thumb-grid-container {
    display: flex;
    flex: 2;
    align-items: center;
    overflow: scroll;
    background-color: #fef4e9;
    border-radius: 30px;
}

/* Clothes Grid Layout */
.thumb-grid {
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    padding: 20px;
    max-width: 5rem;
}

/* Thumbnail Styles */
.thumb-container {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.thumb {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    outline: 1px solid rgb(214, 200, 188);
    outline-offset: -10px;
    border: 10px solid white;
    position: relative;
}

.selected-thumb {
    outline: none;
    border: 10px solid #f9a0a3;
}

.locked-thumb {
    filter: brightness(0.8);
    pointer-events: none;
    cursor: not-allowed;
    position: relative;
}

.thumb-container:has(.locked-thumb)::after {
    content: '';
    position: absolute;
    top: 50px;
    right: 25%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 21.9 21.9'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23f9a0a3;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg id='Layer_1'%3E%3Ccircle class='cls-1' cx='10.9' cy='10.9' r='9.4'/%3E%3Cline class='cls-1' x1='4.3' y1='17.6' x2='17.6' y2='4.3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Color Switcher Styles */
.color-switcher {
    display: flex;
    gap: 8px;
    padding: 3px;
}

.color-btn {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: none;
    background-color: #d5c7bd;
    cursor: pointer;
    padding: 0;
}

.color-btn:hover {
    transform: scale(1.2);
}

.locked-color-btn {
    filter: opacity(0);
    pointer-events: none;
}

/* Album and Fullscreen Modal Styles */
.album-popup, 
.fullscreen-view {
    display: none;
    position: fixed;
    inset: 0; /* Modern way to set all sides to 0 */
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.album-content {
    width: 90vw;
    height: 75vh;
    background-color: #fef4e9;
    position: relative;
    overflow-y: auto;
    border: 20px solid white;
    border-radius: 30px;
}

.fullscreen-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.fullscreen-img {
    height: 90vh;
    width: 100%;
    object-fit: contain;
}

.album-title-container {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    padding: 10px 20px;
    /* background-color: #fef4e9; */
    top: 0;
    z-index: 2002;
}

.album-close-btn {
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.album-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Album Grid Layout */
.album-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 70px;
}

.album-thumb-container {
    position: relative;
}

.album-thumb {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(214, 200, 188);
    transition: transform 0.2s;
    cursor: pointer;
}

.album-thumb:hover {
    transform: scale(1.05);
}

.album-thumb-placeholder {
    width: 100%;
    height: 300px;
    background-color: #f4eadf;
    border-radius: 10px;
}

.fullscreen-img {
    align-self: center;
    justify-self: center;
    object-fit: contain;
}

/* Album Delete Button */
.album-delete-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ec7272;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 2001;
    transition: transform 0.2s;
}

.album-delete-btn:hover {
    transform: scale(1.1);
    background-color: #d06969;
}

/* Animation Styles */

@keyframes FullSizePopIn {
    0% {opacity: 0; 
        filter: blur(10px) brightness(200%); 
        top: 50%;
        left: 50%;
        color: white;
    }
    75% { top: 50%;
        left: 50%;
    }
    85% { top: 50%;
        left: 50%;
    }
    97% { opacity: 1;
        top: 50%;
        left: 50%; 
    }
    100% { 
        top: 50%;
        left: 50%;
    }
}

.clothes-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-in-animation {
    animation: FullSizePopIn 0.3s ease-out;
    will-change: transform;
    transform-origin: center center;
}

@keyframes popIn {
    0% { 
        transform: scale(.95);
        opacity: 0;
        filter: blur(10px);
    }
    75% { transform: scale(1.02);
    }
    85% { transform: scale(.97);
    }
    97% { transform: scale(1.005);
        opacity: 1;
    }
    100% { transform: scale(1);
        filter: blur(0px);
    }
}
.selected-thumb {
    animation: popIn 0.2s ease-out;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fef4e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity .2s ease-out;
}

.loading-screen.fade-out {
    opacity: 0;
}

.loading-animation {
    position: relative;
    width: 460px;
    height: 350px;
    overflow: hidden;
    border-radius: 30px;  
}

.loading-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    object-fit: contain;
}

#loading-flowers {
    animation: flowers-move 10s linear 1;
}

#loading-grass {
    animation: grass-move 10s linear 1;
}

#loading-cloud-big {
    animation: cloud-big-move 10s linear 1;
}

#loading-cloud-med {
    animation: cloud-med-move 10s linear 1;
}

#loading-cloud-small {
    animation: cloud-small-move 10s linear 1;
}

#loading-daisy-logo {
    width: 80%;
    animation: fade-in 4s ease-out 1;
}

@keyframes flowers-move {
    0% { transform: translate(-70%, -50%); }
    100% { transform: translate(-50%, -50%); }
}

@keyframes grass-move {
    0% { transform: translate(-60%, -50%); }
    100% { transform: translate(-50%, -50%); }
}

@keyframes cloud-big-move {
    0% { transform: translate(-58%, -50%); }
    100% { transform: translate(-50%, -50%); }
}

@keyframes cloud-med-move {
    0% { transform: translate(-63%, -50%); }
    100% { transform: translate(-50%, -50%); }
}

@keyframes cloud-small-move {
    0% { transform: translate(-55%, -50%); }
    100% { transform: translate(-50%, -50%); }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}






.loading-bar-container {
    width: 400px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-size: contain;
    overflow: hidden;
}

.loading-bar {
    width: 0%;
    height: 100%;
    background-color: #f9a0a3;
    transition: width 0.3s ease;
}

.loading-text {
    color: #d06969;
    font-size: 14px;
}


@media (min-height: 450px) {
    .thumb-container {
        width: 14rem;
    }

    .top-nav-container {
        height: 80px;
    }

    .clothes-btn {
        height: 60px;
        width: 60px;
        border-radius: 30px;
        margin: 0 8px;
    }
}

@media (min-height: 620px) {

    .loading-animation {
        width: 600px;
        height: 460px;
    }

    .loading-bar-container {
        width: 500px;
    }


    .portrait-btn {
        height: 70px;
        width: 60px;
    }

    .capture-btn, .reset-btn {
        width: 70px;
        height: 70px;
    }

    .clothes-btn {
        height: 70px;
        width: 70px;
        border-radius: 45px;
    }

    .thumb-grid {
        grid-template-rows: 1fr 1fr;
    }

    .thumb-container {
        width: 10rem;
    }
}

@media (min-height: 740px) {
    .thumb-container {
        width: 12rem;
    }

    .top-nav-container {
        height: 130px;
    }
}

@media(max-width: 780px) {
    .title {
        background-image: url("daisy-game/images/UI/title-sml.svg");
    }
}